{% extends 'base.html' %} {% load widget_tweaks %} {% block content %}
{% load static %}


<style>
  .post_counter {
    width: 50px;
    margin: auto;
    margin-left: 25px;
    margin-right: 5px;
    border: 3px solid #73AD21;
  }

  .post_counter_text {
    width: 100px;
    margin: auto;
    margin-left: 5px;
    border: 3px solid #73AD21;
  }
</style>

<html>
<head>
    <link rel="stylesheet" href="{% static 'my_css/main_pages.css' %}">
</head>
<body>
<div class="container-fluid">
    {% block top_menu %}
    {% include 'top_panel.html' %}
    {% endblock %}
    <hr>
    </div>
        {% block center_panel %}
        {% include 'home_center_panel.html' %}
        {% endblock %}
    </div>
</div>
</body>
</html>

{% endblock content %}
